# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
.mypy_cache/
.ruff_cache/
.pytest_cache/
dist/
build/

# Env
.env
.env.local
.env.*.local

# Node
node_modules/
.next/
out/
*.tsbuildinfo
next-env.d.ts

# OS / editor
.DS_Store
.vscode/
.idea/
